.container {
  display: flex;
  max-width: 960px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;

  &-fluid {
    max-width: 1200px;
  }
}

.row {
  &-l {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 40px;
  }
  &-r {
    display: flex;
    flex: 1;
    margin-left: 40px;

    .big-item {
      display: flex;
      flex: 1;
      position: relative;
    }
    .grid {
      width: 100%;
      .small-items {
        flex: 1;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
      }
      &-item {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: var(--text-contrast);
        border-radius: 8px;
        padding: 20px;
        transition: all ease 0.3s;
        .gridIcon {
          &::before {
            content: "";
            width: 100%;
            height: 100%;
            border-radius: 50%;
            position: absolute;
            background-color: var(--primary-700);
            opacity: 0.09;
            z-index: 0;
          }
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          padding: 20px;
          svg {
            z-index: 2;
          }
        }
        .gridTitle {
          font-size: 18px;
          font-weight: 700;
          margin-top: 10px;
        }
        .gridYourImc {
          margin-top: 10px;
        }
        .gridInfo {
          margin-top: 10px;
          font-size: 12px;
        }
      }
    }
    .return-icon {
      background-color: transparent;
      position: absolute;
      display: flex;
      flex: 1;
      width: 70px;
      height: 100%;
      margin: auto;
      left: -35px;
      align-items: center;
      justify-content: center;
      cursor: default;
      .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        //background-color: var(--primary-500);
        border-radius: 50% 0 0 50%;
        transition: all ease 0.3s;
        cursor: pointer;
        &:hover {
          transform: translateX(-15px);
        }
      }
    }
  }
}

.title {
  //margin-top: 20px;
}
.description {
  margin-top: 20px;
}

input[type="number"] {
  width: 100%;
  border: none;
  background-color: var(--light-200);
  border-bottom: 2px solid var(--secondary-500);
  border-radius: 8px;
  outline: 2px solid var(--light-100);
  color: var(--primary-700);
  font-weight: 700;
  padding: 20px 10px;
  margin: 10px 0;
  transition: all ease 0.3s;
  &:first-of-type {
    //margin-right: 10px;
  }
  &:last-of-type {
    //margin-left: 10px;
  }

  &:focus-visible {
    outline: 2px solid var(--primary-500);
    border-color: transparent;
  }
}

button {
  display: flex;
  width: 100%;
  padding: 20px 20px;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  border: none;
  border-radius: 6px;
  gap: 5px;
  color: var(--light-100);
  font-size: 14px;
  font-weight: 700;
  background-color: var(--primary-500);
  transition: all ease-in-out 0.3s;
  &:hover {
    background-color: var(--secondary-500);
    border: none;
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px auto;
  
  color: var(--primary-500);
  a {
    color: var(--primary-700);
  }
}

/*
mobile devices
*/
@media (max-width: 800px) {
  .container {
    width: 100%;
    padding: 0 20px;
    flex-direction: column;

    &-fluid {
      width: 100%;
    }
  }
  .row {
    &-l {
      margin-right: 0;
    }
    &-r {
      margin-top: 40px;
      margin-left: 0;
      .big-item {
        margin-top: 10px;
      }

      .return-icon {
        width: 100%;
        height: 50px;
        top: -30px;
        left: 5px;

        transform: rotate(0deg);

        .icon {
          margin-right: 10px;
          border-radius: 50%;
          &:hover {
            transform: translateX(-5px);
          }
        }
      }
    }
  }
}

@media (min-width: 600px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .row {
    &-l {
      display: flex;
      flex-direction: column;
      flex: 1;
      margin-right: 0;
    }
    &-r {
      display: flex;
      flex: 1;
      margin-left: 0;
    }
  }
}
@media (min-width: 801px) and (max-width: 979px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */

  .container {
    width: 100%;
    padding: 0 20px;
    flex-direction: row;

    &-fluid {
      width: 100%;
    }
  }
  .row {
    &-l {
      display: flex;
      flex-direction: column;
      flex: 1;
      margin-right: 20px;
    }
    &-r {
      display: flex;
      flex: 1;
      margin-left: 20px;
      .grid {
        width: 100%;
        .small-items {
          grid-template-columns: repeat(2, 1fr);
          gap: 20px;
        }
      }
    }
  }
}


@media (min-width: 980px) {
  .container {
    width: 100%;
    flex-direction: row;

    &-fluid {
      width: 100%;
    }
  }
  .row {
    &-l {
      flex-direction: column;
      margin-right: 40px;
    }
    &-r {
      margin-left: 40px;
      .grid {
        width: 100%;
        .small-items {
          grid-template-columns: repeat(2, 1fr);
          gap: 20px;
        }
      }
    }
  }
}
